"*":
  "atom-beautify":
    html:
      indent_size: 2
  "autocomplete-python":
    useSnippets: "required"
  core:
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 18
    invisibles: {}
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "3dcbd2ba-9271-4e9e-935e-6beb4d7c9bb1"
  "linter-ui-default":
    showPanel: true
  "markdown-preview": {}
  "spell-check":
    localePaths: [
      "/usr/share/hunspell/"
    ]
    locales: [
      "pl-PL"
      "en-US"
    ]
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 2
  "exception-reporting":
    userId: ""
  "linter-ui-default":
    showPanel: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
  welcome:
    showOnStartup: false
