"*":
  "autocomplete-python":
    useSnippets: "required"
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 18
    invisibles: {}
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: ""
  "linter-ui-default":
    showPanel: true
  "markdown-preview": {}
  "spell-check":
    locales: [
      "pl-PL"
      "en-US"
    ]
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 2
  "exception-reporting":
    userId: ""
  "linter-ui-default":
    showPanel: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
  welcome:
    showOnStartup: false
